[2020-09-18 07:29] bb111189 opened #1 "Zillion todo list"
Current TODO list for Zillion by Zilliqa team

- [ ] The Browser back button does not work.
- [ ] SSN Health bar
- [ ] Light mode
- [ ] Full historical transaction history
- [ ] Charts for statistical information
- [ ] Fix Complete withdrawal process
- [ ] Fix APY calculation
- [ ] Optimize for mobile friendly

Current TODO list for Zillion suggested by Zilliqa community
- [ ] TBD

[2020-09-19 01:15] Hongx01 commented on #1
Suggest to add the tag "Available to stake" label or equivalent there.
![image](https://user-images.githubusercontent.com/43341181/93655821-49822f00-fa69-11ea-9bf0-031efa34d4a6.png)

[2020-09-19 01:35] Hongx01 commented on #1
50Zil stake successful but not shown in the dashboard. Gas fee lost.
[Bug1.docx](https://github.com/Zilliqa/Zillion-issue/files/5248921/Bug1.docx)

Expecting minimum of Zil required to stake is 100zil.

[2020-09-19 08:03] ghost opened #2 "Gzil reward ratio is incorrect"
![A77BF9A9-0B50-4F7D-8FFD-AEE142987CAE](https://user-images.githubusercontent.com/71545485/93662297-7272e600-faa2-11ea-8222-d1b4f5bc5f72.jpeg)

[2020-09-19 08:04] ghost commented on #2
I have accumulated zero Zil rewards as I have just started staking. Yet I have accumulated 0.488 gzil

[2020-09-19 10:54] SuhasShelke opened #3 "UNCLAIMED GZIL REWARDS displayed for delegator with 0 deposit"
Delegator logs in with fresh wallet on zillon. However, delegator is displayed non zero UNCLAIMED GZIL REWARDS despite depositing 0 zil in any of the seed nodes.

Issues is explained in detail in attached word doc.
[UX Issue.docx](https://github.com/Zilliqa/Zillion-issue/files/5249688/UX.Issue.docx)

[2020-09-19 11:09] SuhasShelke opened #4 "Re-Delegate Stake, Withdraw Stake and Claim Rewards buttons are enabled for Delegator with 0 deposit"
When delegator logs in with fresh wallet and has 0 deposits or no staking, Re-Delegate Stake, Withdraw Stake and Claim Rewards buttons should be disabled and only Delegate Stake button should be enabled.

Please refer attached document for further details.
[UX Issue2.docx](https://github.com/Zilliqa/Zillion-issue/files/5249746/UX.Issue2.docx)

[2020-09-19 11:45] SuhasShelke opened #5 "Failed transaction on blockchain when delegator proceeds with claim rewards"
Delegator with no deposits or staking in any node operator proceeds with claim rewards with resultant transaction failing on blockchain while delegator loses 2.058 zil as Zill fee.

This can be avoided if Claim Rewards button is disabled for delegator with no rewards whatsoever. Also, further check of only allowing to proceed with node operator where delegator has any rewards to be claim.

Please

[2020-09-19 21:44] mwansich opened #6 "rename re-delegate button to move stake (or something else)"
name is misleading because it doesnt actually withdraw and delegate again (hence re-delegate) but only moves stake from one ssn to another.
Also the button in the dashboard says "re-delegate stake" and the button in the modal just says "re-stake", should be the same.

[2020-09-19 21:51] mwansich opened #7 "re-delegating stake doesnt work"
zilpay tells me i dont have enough funds available when trying to re-stake (see screenshot)
was only possible to re-stake a quarter of the actual delegated funds but transaction failed
https://viewblock.io/zilliqa/tx/125c30f2e42b1b7bfc6dd478c379eb64d8805c428c68bc8ca115f8bd079c6ea4?network=testnet

![Screenshot 2020-09-19 at 23 50 20](https://user-images.githubusercontent.com/70520740/93689859-efb6

[2020-09-20 05:31] kenostech commented on #1
[](url)
![Zil](https://user-images.githubusercontent.com/20414497/93694988-12705400-fb23-11ea-852e-dde600406a30.png)

UI Suggestion IMO:
1. Copy button should be herefor easier copying the address. Now, when we copy the address as shown on the image it includes the amount and network. It's a bit hazzle.

2. Zil address should be a little bit separeted from the amount.

3. Zil amount shoul have val

[2020-09-20 10:26] andreaxxyxx opened #8 "Gzil not tranferred"
Hello, in testnet I claimed the accrued _Zil rewards: I got them but without any attached Gzil.
As "These gZILs are sent to your address along with your ZIL rewards" I suppose something is not going as expcted.

[2020-09-20 10:35] dziedom opened #9 "Stakers or Delegators"
Is it worth using the word Stakers rather than Delegators, the market doesn't typically use this term and I'm seeing questions being asked on Twitter as to what this is. Changing the language may be helpful to stop unnecessary conversations.

![Stakers or Delegators](https://user-images.githubusercontent.com/62773889/93709308-51a7a080-fb35-11ea-9ad4-bf59049ec49a.JPG)

[2020-09-20 10:40] dziedom opened #10 "Staked Seed Node Headers"
API Endpoint - Not sure there is a need to expose this URL // Maybe Uptime of Seed node would be a metric for Delegators/Stakers
Buffered Deposit – What is this metric? A bit confusing for the End User maybe needs a better explanation?
Delegators – Maybe change to **#Stakers** ? // A term the market understands better

![Staked Seed Node Headers](https://user-images.githubusercontent.com/62773889/

[2020-09-20 10:45] dziedom opened #11 "Claim Rewards"
From a CX perspective when Claiming  Rewards should the UI not  only show the seed nodes I have staked against,  rather than the whole list. In this case I had only staked on two seeds nodes, so I would only expect to see 2 seed nodes.

![Claim Rewards](https://user-images.githubusercontent.com/62773889/93709528-b9aab680-fb36-11ea-83cd-98cfc1181fba.png)

[2020-09-20 10:52] dziedom opened #12 "Unstaking Notification"
UnStaking – It would nice to get a Notification to say that unstaking  has been successful. It appeared that I needed to logout and log back in to get the interface to update.

[2020-09-20 10:58] dziedom opened #13 "ReDelegate Stake - Greyed Out"
ReDelegate Stake –  If nothing was staked I would expect the ReDelegate Stake to be greyed out ?

![Greyed Out](https://user-images.githubusercontent.com/62773889/93709733-97199d00-fb38-11ea-8796-0310f264e740.JPG)

[2020-09-20 11:02] dziedom opened #14 "ReDelegate Stake - DropDown Menu"
On the dropdown list of operators delegated too, it should only show the ones i have currently delegated on rather than the whole list, makes for a better UX.

![ReDelegate](https://user-images.githubusercontent.com/62773889/93709779-20c96a80-fb39-11ea-9e8b-2549c8d0ab62.png)

[2020-09-21 01:10] FlipOne513 commented on #8
Wondering the same thing.

[2020-09-21 01:17] FlipOne513 opened #15 "Trouble Re-Delegating using Ledger Nano S"
When I try to re-delegate tokens from one operator to another I get an error message.  Now i'm trying to withdraw some tokens so I can delegate them manually vs just re-delegating them.  Withdraw has been pending for 15 or 20 minutes now, seems like it shouldn't take that long all other transactions happened within 1 to 3 minuets.

[2020-09-21 02:39] 10131 opened #16 "Unclaimed GZIL Rewards: Confusing"
How do you claim the GZIL? There is no option under Claim Rewards when you click on the button. Also, I think the calculation is wrong since I just staked 4900 zil within 30 secs. It's a bit confusing.

Overall looking good ZIL Team!

![noclaim_info](https://user-images.githubusercontent.com/71618874/93729308-cc45df80-fb78-11ea-80cc-852d7aa15100.jpg)

[2020-09-21 02:46] WuZenKey commented on #1
Thank you for Zillion, looks great and can't wait for main net launch.  Some possible improvements:

- Separate the "Hello Delegator! What Would You Like To Do Today?" from it's graphics box.  Put it as a rolling text or to the left or above the Delegation options - I passed right by it initially but it is a very appealing statement.

- When clicking Delegate Stake, the UI should list what ZIL is

[2020-09-21 02:53] WuZenKey opened #17 "UI Suggestions and Delegating Staking Bug"
Thank you for Zillion, looks great and can't wait for main net launch. Some possible improvements:

**UI Suggestions:**

-  Separate the "Hello Delegator! What Would You Like To Do Today?" from it's graphics box. Put it as a rolling text or to the left or above the Delegation options - I passed right by it initially but it is a very appealing statement.

-  When clicking Delegate Stake, the UI sho

[2020-09-21 02:56] 10131 commented on #7
I have the same issue even though I have enough ZIL to do the transaction. Here's a gif of it.

![2020-09-20 19 53 06](https://user-images.githubusercontent.com/71618874/93729917-48412700-fb7b-11ea-8d7f-073534a70b89.gif)

[2020-09-21 03:02] 10131 commented on #1
Great work ZIL Team! Can't wait to stake! A suggestion:

- Can we have a live staking calculator instead of the chart? Similar to this? https://www.stakingrewards.com/calculator

[2020-09-21 03:44] WuZenKey commented on #7
Oh well made - glad someone else had the same issue - makes me feel like I
wasn’t missing something.

Thank you.

On Sun, Sep 20, 2020 at 10:57 PM 10131 <notifications@github.com> wrote:

[2020-09-21 06:15] FlipOne513 commented on #15
withdraw still pending hours later.

[2020-09-21 10:00] themadboris opened #18 "withdraw issue"
set to withdraw 3k zil, transaction was succes it going to pending balance, after if I try to withdraw another amount of coins it shows error: https://viewblock.io/zilliqa/tx/5d760b41839a73c13d780662bb00e5dcc44b6f5ec93cc93b44719dde1e292a7d?network=testnet

[2020-09-21 10:15] themadboris commented on #18
balance is not show on zillion, and was not recived on wallet.. where is it ? :)

[2020-09-21 10:46] dziedom opened #19 "Delegate Stake Drop Down – User Experience"
When you go to delegate stake in the drop down list  it may help to have the operator offering the highest commission rate at the top of the list and rank in order of commission return rate.  There doesn’t seem to be a rational to the order currently i.e. its not even in Alphabetical order.

![Delegate Stake Drop Down list](https://user-images.githubusercontent.com/62773889/93758288-0efeca80-fc00-

[2020-09-21 11:59] dziedom commented on #16
I'm experiencing the same thing, although in my instance I have been able to claim some gZil previously but the remainder I can't access.  When it says unclaimed does that mean I can claim it at any time?  Should there be a button that says claim Zil rewards and a separate one for  claiming  GZil rewards?

![Unclaimed Gzil](https://user-images.githubusercontent.com/62773889/93763769-eaa7eb80-fc09-

[2020-09-21 12:19] dziedom opened #20 "Mouse Over Bubble to explain Headers - User Experience"
From a UX perspective, it would help if there was a hover bubble that would come up to explain what the headers mean, it may be apparent to the team but for new users it may not be that clear,  this should also help stop the  end user asking questions constantly around definitions and free up time for the team etc  i.e. What does APY for the last 'cycle' actually mean?  i.e. what is the Zilliqa's

[2020-09-21 14:59] ZILLI0N opened #21 "Can't send ZIL: "Insufficient funds in source account!""
Reproduction:
- go to https://dev-wallet.zilliqa.com/send
- access existing testnet wallet (my example wallet has 5000 ZIL)
- send ZIL to another wallet (tried different amounts between 1000-5000 ZIL)
- Observe: Gas Price 0.001 ZIL
- Confirm -> Insufficient funds in source account!

[2020-09-21 21:29] ZILLI0N opened #22 "Dashboard link goes to empty page after signing out"
Going to https://testnet-stake.zilliqa.com/dashboard results in an empty page after signing out. Should probably go to main page

[2020-09-21 21:32] ZILLI0N opened #23 "Overview in dashboard does not get updated after completing process"
After delegating/transferring/withdrawing stake or claiming rewards, the overview section does not update. the only way to update it is to refresh the page which destroys wallet connection and goes to empty dashboard page

[2020-09-21 21:46] devarshdpatel opened #24 "Staking button not working"
Stake button on the Delegate Stake window will not work after entering staking ZIL value of 499.99999999999999999999999999( just an example). The user should be restricted to input values beyond thousandth position after decimal ( i.e. 499.999) in order for staking button to work with fractional values.

Steps to recreate:-
1) Open https://testnet-stake.zilliqa.com/dashboard with ZilPay wallet
2)

[2020-09-21 22:29] devarshdpatel opened #25 "Able to delegate stake without selecting operator"
Team,

Delegator can stake to an operator without selecting operator. This seems to be a screen issue where after rejecting the staking transaction, delegator navigates back to Delegate stake window and operator that was selector earlier blanks out from the drop down and delegator can re initiate the delegation without selecting operator.

Delegator should be able to see the same operator in the d

[2020-09-22 09:43] ZILLI0N opened #26 "Attempt at staking 0 or "-0" ZIL gets processed, spending ZIL in the process"
When you stake 0 or -0 ZIL it is actually processed and you spend ZIL.

Furthermore, when you try to stake with a negative amount, you can click on the Stake button and it is also processed. But you don't waste ZIL, instead you get the following error:
There is an error, please try again

So it would make sense to check if the value is greater than 0 and show an error otherwise. Like the error sho

[2020-09-22 09:55] ZILLI0N opened #27 "Inserting non numerical value after numerical value breaks Stake button"
When you try to stake 490ZIL for example, the Stake button doesnt work

[2020-09-22 15:03] devarshdpatel opened #28 "No staking reward from Moonlet.io staking node"
Team,

I have been staking across multiple staking nodes since past 2 days. However, I see 0 rewards from Moonlet.io staking node. Staking should work seamlessly across all the staking nodes when delegator decides to stake across multiple nodes.

Screen-prints:-
[Staking not working Moonlet.io.docx](https://github.com/Zilliqa/Zillion-issue/files/5262350/Staking.not.working.Moonlet.io.docx)

[2020-09-22 15:29] dziedom opened #29 "Transfer Stake"
When i try to transfer stake from Pickachu  to sentinal it throws an error saying it needs to be a bech32 address

[2020-09-22 15:31] dziedom commented on #29
When i try to transfer stake from Pickachu to sentinal it throws an error saying it needs to be a bech32 address
![bech32](https://user-images.githubusercontent.com/62773889/93903747-fc17f300-fcf0-11ea-9bbd-d3d448dadbbd.png)

[2020-09-22 17:48] Jotka108 opened #30 "Refreshing Page not possible"
If you try to refresh the website with F5 cause the 1-2 minutes waiting time is longer than 5 minutes without change, you have to log in again completly.

[2020-09-22 17:56] Jotka108 opened #31 "Confirm or reject action"
if you want to perform an action with the Zilpay app, a window opens. But it is not obvious how to execute the action. Only by searching and by chance you might realize that you have to click on the cube to open the execution window. (Telegram: My Cosmos)

![ZilUnclearStep](https://user-images.githubusercontent.com/36862733/93919154-95ed9900-fd0d-11ea-9798-fb09d6a32351.JPG)

[2020-09-22 20:19] devranjan opened #32 "Error while re-delegation ( bech32 or checksum address error)"
Sometimes it gives an error " operator address should be bech32 or checksum format". Again after selecting the same or other delegation address, the stacking works.
![delegation error 32](https://user-images.githubusercontent.com/11460583/93936459-d962fa00-fd43-11ea-8125-3c9437c7c1a0.gif)

[2020-09-22 20:43] devranjan opened #33 "Blank page after refreshing the logged-in wallet - Suggestion"
After refreshing the already logged-in wallet page return a blank page. Even it shows an error of losing the connection of the wallet while refreshing, It should either show:
(1) the same logged-in wallet,
(2) log-out and return to the home page of the wallet app, or
(3) log-out and ask to re-login to access the wallet.

It's only my suggestion.

![Zilliqa page refresh error](https://user-images.g

[2020-09-23 06:47] themadboris commented on #18
~3 days my withdraw 3k. stay in pending.. it's normal ?

[2020-09-23 06:49] themadboris commented on #18
![z](https://user-images.githubusercontent.com/54707648/93976703-a8052100-fd79-11ea-94eb-fea4fc65bf68.jpg)

[2020-09-23 06:50] devranjan opened #34 "Transfer Stack error"
It throws an error while transferring stake from one stack address to another.

![Error in transferring stake](https://user-images.githubusercontent.com/11460583/93976751-15737a80-fd97-11ea-94c3-40a8ed0eb84b.gif)

[2020-09-23 06:56] devranjan commented on #28
The same issue, I have faced. There is no reward from Zillacracy stacking node.
Here is the transaction detail for the reward request. Received 0 gzil:

https://viewblock.io/zilliqa/tx/0xa89a5fb6aca15c27f49801bd424a76656416e6f57709e70f9b6f2d14d5e5515b?network=testnet

![no rewards for stack](https://user-images.githubusercontent.com/11460583/93977312-e9a4c480-fd97-11ea-8ade-0780b7c79152.PNG)

[2020-09-23 16:36] AmritKumar commented on #16
gZILs are claimed at the same time staking rewards are claimed. They do not need to be claimed separately. The overview section had a bug which showed incorrect unclaimed gZIL balance. This has been fixed. Thanks for reporting.

[2020-09-23 16:36] #16 closed, assigned to nobody

[2020-09-23 16:41] AmritKumar commented on #15
Can you post a transaction hash for the re-delegation error? Withdrawal of stake is not fully pushed in the UI yet. It will be a two-step process. You should try it out in the next few days. Thanks for reporting the issue.

[2020-09-23 16:54] AmritKumar commented on #2
This is indeed a bug in the UI. It has been fixed. Thanks for reporting this. I am closing this for now.

[2020-09-23 16:54] #2 closed, assigned to nobody

[2020-09-23 16:55] AmritKumar commented on #3
This is a bug in the UI and has been fixed since. Thanks for reporting it. I am closing this for now.

[2020-09-23 16:55] #3 closed, assigned to nobody

[2020-09-23 16:57] AmritKumar commented on #6
Thanks for the suggestion. The button is now changed to "Transfer Stake"
![image](https://user-images.githubusercontent.com/4191868/94044594-45864200-fdc6-11ea-9507-f0ce1a68e4f5.png)

[2020-09-23 16:57] AmritKumar commented on #6
Closing this for now.

[2020-09-23 16:57] #6 closed, assigned to nobody

[2020-09-23 17:00] AmritKumar commented on #7
Good catch folks. This is indeed a bug. We will fix it. I will keep this issue open for now.

[2020-09-23 17:02] AmritKumar commented on #34
Good catch! This is indeed a bug. We will fix it. I will keep this issue open for now.

[2020-09-23 17:09] AmritKumar commented on #18
Staking withdrawal is not fully available in the UI yet. Please try after a few days.

[2020-09-23 17:10] AmritKumar commented on #28
Thanks for reporting the issue. For some time the two nodes were not healthy and hence were not receiving rewards. I am closing this for now.

[2020-09-23 17:10] #28 closed, assigned to nobody

[2020-09-23 17:13] AmritKumar commented on #8
You can see your $gZIL [here](https://viewblock.io/zilliqa/address/zil10w2fwf5kdwqvjd2zyv6nr7da2d2z63g5dvtvsy?network=testnet&tab=holders). I am closing this as this is not an issue. Please open it back if you do not see your balance there.

[2020-09-23 17:14] #8 closed, assigned to nobody

[2020-09-23 21:10] AmritKumar commented on #32
We are not able to reproduce this. Is there any more info you could provide that could reproduce this?

[2020-09-23 21:11] AmritKumar commented on #31
It's a ZilPay issue. Will close it.

[2020-09-23 21:11] #31 closed, assigned to nobody

[2020-09-23 21:12] AmritKumar commented on #29
We are not able to reproduce this. Is there any more info you could provide? Thanks!

[2020-09-23 22:59] devranjan commented on #32
While re-deligation (re-stacking), sometimes it gives an error stating "operator address should be bech32 or checksum format". You can see in the above screenshot gif. But after trying some more time, it get re-stacked.
**So, my point is it gives error sometimes while re-staking the token.**

I have only 195 test ZIL remaining and I even can't withdraw the stack. If you could send me some, I can t

[2020-09-24 11:35] AmritKumar commented on #34
This is fixed now. Thanks for reporting it. I am closing it for now.

[2020-09-24 11:35] #34 closed, assigned to bb111189

[2020-09-24 11:36] AmritKumar commented on #32
This should be fixed now. Thanks for reporting this. I am closing this for now.

[2020-09-24 11:36] #32 closed, assigned to nobody

[2020-09-24 11:37] AmritKumar commented on #29
It should be fixed now. Thanks for reporting it. I am closing it for now.

[2020-09-24 11:37] #29 closed, assigned to nobody

[2020-09-24 11:40] AmritKumar commented on #14
This is fixed now. It only shows the operators with which you have currently staked. Thanks for reporting this. I am closing this for now. ![image](https://user-images.githubusercontent.com/4191868/94140300-f2160180-fe62-11ea-8e24-4bc00391671c.png)

[2020-09-24 11:40] #14 closed, assigned to nobody

[2020-09-24 11:42] AmritKumar commented on #11
This is fixed now. Thanks for reporting it. I am closing this for now.
![image](https://user-images.githubusercontent.com/4191868/94140548-4caf5d80-fe63-11ea-86c8-4592a4b2077c.png)

[2020-09-24 11:42] #11 closed, assigned to nobody

[2020-09-24 11:44] AmritKumar commented on #7
This is fixed. Thanks again. We have also changed the UI a bit too. Closing it for now.
![image](https://user-images.githubusercontent.com/4191868/94140744-9f891500-fe63-11ea-80eb-40ed30144f0e.png)

[2020-09-24 11:44] #7 closed, assigned to nobody

[2020-09-24 11:46] AmritKumar commented on #15
You should try this now. We have now enabled stake withdrawals. Closing this for now. In case this does not fix your issue, feel free to open it back?

[2020-09-24 11:46] #15 closed, assigned to nobody

[2020-09-24 11:48] AmritKumar commented on #18
You should try this again. I am closing this for now. Thanks again for reporting this.
![image](https://user-images.githubusercontent.com/4191868/94141120-2fc75a00-fe64-11ea-959c-42231b50d20f.png)

[2020-09-24 11:48] #18 closed, assigned to nobody

[2020-09-24 11:55] mwansich commented on #23
having the same issue
Zilpay updates transcations but the UI doesnt reflect changes immedeatley. took like 5 minutes to update UI after zilpay already received rewards
this could make people try to do tasks twice even if they already have been performed
doing so doestn even give an error or anything, just intializes a new transaction for example withdrawing zero rewards like this one
https://viewb

[2020-09-24 12:13] mwansich opened #35 "remove blue border after clicking buttons"
After clicking on one of the four buttons a blue border appears around them. This is useless because a modal window is opened anyway and after closing it i dont need the information that i clicked that button. Hence the button having that blue border just looks strange and provides nothing. Just a minor issue but thus also easy to resolve.

![Screenshot 2020-09-24 at 14 12 32](https://user-images.

[2020-09-24 16:42] devranjan commented on #34
It's my pleasure. 🙂

[2020-09-25 07:25] georgeburduhos commented on #1
Website doesnt work when reload
https://www.dropbox.com/s/5c72h125kdvbbd3/Screenshot%202020-09-25%20at%2010.24.00.png?dl=0

I logged in through Zilpay - i made a delegation and i hit F5 - from that moment nothing showed

[2020-09-25 11:24] AmritKumar commented on #27
Thanks for reporting this. We have fixed this. Closing this for now.
![image](https://user-images.githubusercontent.com/4191868/94261547-f0634100-ff29-11ea-95fe-68da71eda4a2.png)

[2020-09-25 11:27] AmritKumar commented on #27
Reopening this.

[2020-09-25 11:27] AmritKumar commented on #27
The UI shows this error for now. We will fix. Thanks again for reporting. ![image](https://user-images.githubusercontent.com/4191868/94261829-6cf61f80-ff2a-11ea-8099-69509772b728.png)

[2020-09-25 11:29] AmritKumar commented on #26
Thanks for reporting this. It is fixed. Closing it for now.  ![image](https://user-images.githubusercontent.com/4191868/94261989-a4fd6280-ff2a-11ea-8323-707511c35134.png)

[2020-09-25 11:29] #26 closed, assigned to nobody

[2020-09-26 08:57] DicksonLaiSuleiman opened #36 "Include Commission Rate"
Improve user experience, to include commission rate of Operator in the option list when selecting operator to delegate stake to.
<img width="957" alt="Screenshot 2020-09-26 at 4 56 51 PM" src="https://user-images.githubusercontent.com/31592055/94336936-4b279600-0019-11eb-9fd0-99c077c2f2b6.png">

[2020-09-26 08:59] DicksonLaiSuleiman opened #37 "Add stake button next to operator seed node in list of Staked Seed Nodes."
Improve User Experience, shorten steps required to stake to desired seed node operator.
<img width="1193" alt="Screenshot 2020-09-26 at 4 58 11 PM" src="https://user-images.githubusercontent.com/31592055/94336989-a2c60180-0019-11eb-906c-53f49eb209fc.png">

[2020-09-26 13:56] jcyinnovations commented on #1
When attempting to transfer/withdraw stake, I'm requested to first claim any pending rewards. This is both inconvenient, and potentially a problem. With a large enough stake, I could potentially accumulate enough rewards while waiting for the withdrawal to complete.

I suggest that you automatically initiate the pending reward claim and the transfer/withdrawal request. Ideally, this can be done in

[2020-09-28 16:56] AmritKumar commented on #37
Thanks for the suggestion. We are thinking about it too. I will leave this open for now.

[2020-09-29 08:35] AmritKumar commented on #33
Thanks for the input. We have gone with 3 for now. I am closing this for now.
![image](https://user-images.githubusercontent.com/4191868/94533455-0aa56380-0237-11eb-865e-a03436bff01a.png)

[2020-09-29 08:35] #33 closed, assigned to nobody

[2020-09-29 08:40] AmritKumar commented on #4
Thanks for the input. We have changed the UI to so that users won't see any operator if they haven't delegated yet. I am closing this for now.
![image](https://user-images.githubusercontent.com/4191868/94534019-d54d4580-0237-11eb-9619-f49f9eff3131.png)

[2020-09-29 08:40] #4 closed, assigned to nobody

[2020-09-29 08:42] AmritKumar commented on #5
Thanks for the input. The UI will now prevent delegators from calling ClaimRewards if they haven't staked yet. I am closing this for now.
![image](https://user-images.githubusercontent.com/4191868/94534192-00d03000-0238-11eb-93a6-4dfff12c44ea.png)

[2020-09-29 08:42] #5 closed, assigned to nobody

[2020-09-29 08:44] AmritKumar commented on #13
Thanks for the input. You will see this in the fixed version. Closing it for now.

![image](https://user-images.githubusercontent.com/4191868/94534419-42f97180-0238-11eb-91f0-3249a0e73df6.png)

[2020-09-29 08:44] #13 closed, assigned to nobody

[2020-09-29 08:49] AmritKumar commented on #22
Thanks for the input. Dashboard is specific to a given user. So, if a user is logged out and tried to go to the dashboard he will see the following error screen. I am closing this for now.
![image](https://user-images.githubusercontent.com/4191868/94535045-00846480-0239-11eb-97cc-4ec14b5ec8c6.png)

[2020-09-29 08:49] #22 closed, assigned to nobody

[2020-09-29 08:51] AmritKumar commented on #21
It does not seem to be an issue with Zillion. I guess the faucet ran out of funds when you tried to call. Closing this for now.

[2020-09-29 08:51] #21 closed, assigned to nobody

[2020-09-29 11:00] ZILLI0N opened #38 "Can not claim rewards anymore"
I used to be able to claim rewards but can't anymore: There is an error. Please try again.
![image](https://user-images.githubusercontent.com/71654421/94550274-c1afd800-0253-11eb-9fa5-99daa6105565.png)

[2020-10-01 11:46] mjaud opened #39 "Bug: Cannot transfer stake on testnet to another pool"
Bug: When delegating stake, no problems, but unable to transfer tokens between pools - under transaction history it states "error" even though it says "Successful transaction on screen when approving from device.

[2020-10-07 06:01] AmritKumar commented on #39
Do you have a transaction hash?

[2020-10-07 06:04] AmritKumar commented on #37
We have fixed this. ![image](https://user-images.githubusercontent.com/4191868/95293455-5bd2da00-086b-11eb-8715-bc129a676d5c.png). Closing it for now.

[2020-10-07 06:04] #37 closed, assigned to nobody

[2020-10-07 06:06] AmritKumar commented on #36
Thanks for the suggestion. We have fixed this in the updated UI.
![image](https://user-images.githubusercontent.com/4191868/95293588-9e94b200-086b-11eb-9147-968b27242e71.png)

Closing it for now.

[2020-10-07 06:06] #36 closed, assigned to nobody

[2020-10-07 06:07] AmritKumar commented on #35
Thanks for the suggestion. This should not appear in the new UI anymore.
![image](https://user-images.githubusercontent.com/4191868/95293671-ce43ba00-086b-11eb-839a-f49e71102745.png)

Closing it for now.

[2020-10-07 06:07] #35 closed, assigned to nobody

[2020-10-07 06:12] AmritKumar commented on #19
We have changed the UI for staking now. This should not be an issue anymore. Closing it for now.
![image](https://user-images.githubusercontent.com/4191868/95294017-7194cf00-086c-11eb-82c7-bd47ec9bca92.png)

[2020-10-07 06:12] #19 closed, assigned to nobody

[2020-10-07 06:24] mjaud commented on #39
It has been fixed by the developers!

[2020-10-15 06:07] AmritKumar opened #40 "Issue with non-zero buffer deposit"
**PROBLEM:** Note that a delegator cannot transfer his stake from an SSN if his stake is buffered there or if he has unclaimed rewards from that SSN. This issue reports a corner case that wasn't handled in the contract logic.

It was reported by ![image](https://user-images.githubusercontent.com/4191868/96083387-fa3aed00-0eb4-11eb-9658-373f5cf9b3fb.png) that if a delegator staked with an active SS

[2020-10-15 06:20] #40 closed, assigned to nobody

[2020-10-27 04:06] xyn1nja commented on #2
Hello @casper10222 we'd like to reward you for your submission, can you provide your ZIL wallet address please? Thanks!

[2020-10-27 04:07] xyn1nja commented on #3
Hello @SuhasShelke we'd like to reward you for your submission, can you provide your ZIL wallet address please? Thanks!

[2020-10-27 04:08] xyn1nja commented on #11
Hello @dziedom we'd like to reward you for your submission, can you provide your ZIL wallet address please? Thanks!

[2020-10-27 04:09] xyn1nja commented on #16
Hello @10131 we'd like to reward you for your submission, can you provide your ZIL wallet address please? Thanks!

[2020-10-27 04:10] xyn1nja commented on #18
Hello @themadboris we'd like to reward you for your submission, can you provide your ZIL wallet address please? Thanks!

[2020-10-27 04:11] xyn1nja commented on #22
Hello @ZILLI0N we'd like to reward you for your submission, can you provide your ZIL wallet address please? Thanks!

[2020-10-27 04:12] xyn1nja commented on #36
Hello @DicksonLaiSuleiman we'd like to reward you for your submission, can you provide your ZIL wallet address please? Thanks!

[2020-10-27 04:16] xyn1nja commented on #17
Hello @WuZenKey we'd like to reward you for your submission, can you provide your ZIL wallet address please? Thanks!

[2020-10-27 04:17] xyn1nja commented on #24
Hello @Chicagobulls6 we'd like to reward you for your submission, can you provide your ZIL wallet address please? Thanks!

[2020-10-27 04:18] xyn1nja commented on #30
Hello @Jotka108 we'd like to reward you for your submission, can you provide your ZIL wallet address please? Thanks!

[2020-10-27 04:19] xyn1nja commented on #39
Hello @mjaud we'd like to reward you for your submission, can you provide your ZIL wallet address please? Thanks!

[2020-10-27 04:19] 10131 commented on #16
@xyninja000 oh, great! Glad to have been part of this. I have lots of confidence in you guys. Here's an address:
zil12j7wle24qu4tdjkkm087rjvz5ujx8vtv65tr6z

[2020-10-27 04:38] WuZenKey commented on #17
Thank you! I hope my suggestions could helped in some way.  I’m currently
staking ZIL right now - thanks again.

ZIL address:

zil1vlgnghwtl7xte98wc7denx58nn2ry3wrr72nes

Thanks and be safe!

On Tue, Oct 27, 2020 at 12:16 AM xyninja000 <notifications@github.com>
wrote:

[2020-10-27 04:57] ghost commented on #2
Thank you, that is really good news. I appreciate it.

zil1ktur8e3ufzt0xk5zqjep8wepndp6udwyyre86l

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: xyninja000 <notifications@github.com>
Sent: Tuesday, October 27, 2020 3:06:48 PM
To: Zilliqa/Zillion-issue <Zillion-issue@noreply.github.com>
Cc: casper10222 <benrox102@hotmail.com>; Mention <mention@noreply.github.com>

[2020-10-27 06:22] mjaud commented on #39
Hi buddy can you verify who you are? Thanks

[2020-10-27 06:46] xyn1nja commented on #39
I'm Ashley from Zilliqa. If you're uncomfortable with sharing your address here, you can message me on Telegram (@xyninja). Thanks!

[2020-10-27 07:02] SuhasShelke commented on #3
Hi @xyninja000 thanks a lot for the consideration. My ZIL wallet address is as below. Highly appreciate this :)

zil17wu9mf9w29vutw4hqjk5zlpjw9v85hczegrdgn

[2020-10-27 11:56] DicksonLaiSuleiman commented on #36
Hi,

You can send to my ZIL wallet address at:

zil1rj7q0qdll88draf4kduuqec8vy8m8k47kfv92q

Thank you!

Dickson Lai

[2020-10-27 15:03] dziedom commented on #11
Thanks great job with the user experience  zil1d95l903zq9wg80mfy6x5mragnek55qc8vrf96a Sent from Mail for Windows 10 From: xyninja000Sent: 27 October 2020 04:08To: Zilliqa/Zillion-issueCc: dziedom; MentionSubject: Re: [Zilliqa/Zillion-issue] Claim Rewards (#11) Hello @dziedom we'd like to reward you for your submission, can you provide your ZIL wallet address please? Thanks!—You are receiving this

[2020-10-27 19:03] ZILLI0N commented on #22
hey @xyninja000
here is my ZIL wallet address
zil1548wsm3rda0qq9pljv09daz7s2yzxtz4lumhgv
are the gZil's from the test wallets transferrable to the mainnet, or are they also just for testing?
thanks!

[2020-10-28 00:34] devarshdpatel commented on #24
Hello -

Thank you for the reward. Please confirm one you send the transaction.

Here is ZIL wallet address - zil17wfeu82jxz03amwwsj55mysjeyw7cyu3zj5a4r

Thanks,
Devarsh

On Mon, Oct 26, 2020 at 11:18 PM xyninja000 <notifications@github.com>
wrote:

[2020-10-28 02:43] ghost commented on #2
Did you receive my address correctly

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ben eade <benrox102@hotmail.com>
Sent: Tuesday, October 27, 2020 3:57:04 PM
To: Zilliqa/Zillion-issue <reply@reply.github.com>; Zilliqa/Zillion-issue <Zillion-issue@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [Zilliqa/Zillion-issue] Gzil reward ratio

[2020-10-28 03:04] xyn1nja commented on #2
Hi @casper10222 yes I did, thanks for providing your address. Please allow for a few days for your rewards to be issued.

[2020-10-28 03:05] ghost commented on #2
Cool thanks 🙏🏼

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ashley <notifications@github.com>
Sent: Wednesday, October 28, 2020 2:05:06 PM
To: Zilliqa/Zillion-issue <Zillion-issue@noreply.github.com>
Cc: casper10222 <benrox102@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Zilliqa/Zillion-issue] Gzil reward ratio is incorrect (#2)

Hi @casper

[2020-10-28 03:10] xyn1nja commented on #22
Hi @ZILLI0N, testnet gZIL and ZIL cannot be transferred to the mainnet. Thanks!

[2020-10-28 11:36] themadboris commented on #18
Hi, thx, zil1nkst9z8envmap64sd6l8qxrz9t2pz95xvgxlzt

вт, 27 окт. 2020 г., 05:10 xyninja000 <notifications@github.com>:

[2020-10-30 01:46] ghost commented on #2
Can I request to be emailed once the reward has been issued? I keep checking, thanks guys

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ben eade <benrox102@hotmail.com>
Sent: Wednesday, October 28, 2020 2:05:31 PM
To: Zilliqa/Zillion-issue <reply@reply.github.com>; Zilliqa/Zillion-issue <Zillion-issue@noreply.github.com>
Cc: Mention <mention@noreply.github.com>

[2020-10-30 04:39] xyn1nja commented on #2
Hi @casper10222 your reward should be in now, thanks!

[2020-11-02 15:57] anthonyno1 opened #41 "ZILLION STAKING CLAIM NOT WORKING WITH LEDGER, cap on minimum balance for claiming rewards"
HI not sure if im at the right place but ive been having difficulties for a few days now with Zillion. im using ledger nano x for staking which was working fine but now its not. Im in two pools and can not claim rewards as i get (Transaction Failed) and also my rewards are not changing anymore. Any kind of help would be appriciated.

[2020-11-03 08:05] #41 closed, assigned to nobody

[2020-11-03 08:23] anthonyno1 commented on #41
found the problem to be that i needed more Zil in my account to claim stake had 29zil so brought 80 zil more and it worked. Would it be worth putting a cap on the minimum requirement that needs to be left in the wallet for staking on the zillion platform/account? reason i say this is because if the platform allows me to stake say 15000 zil with 29 zil left in my account unstaked but then does not

[2020-11-25 00:22] nativexorganics opened #42 "Confirmed transactions but not showing correct balances inside zillion"
Hey guys just to let you no I put 5k zilliqa into the zillion node about 2 hours ago, for some reason my connected zilpay wallet is now showing the transaction as pending but also inside zillion it is not showing the correct zippy balance remaining after the 5k .

Also i'm guessing it takes a certain amount fo time to be processed by the node provider

zil1wtm6suayewe6ah0fj5w4hfnf5k2dw900h9mxcu  i

[2020-11-25 12:57] nativexorganics commented on #42
ok I can clarify and confirm......... I am just a noob ....IT WORKS

[2020-12-12 13:09] teye opened #43 "Zillion Page not loading on Chrome"
Several users have reported issues with loading Zillion on Chrome, presumably with version **87.0.4280.88** at the time of this writing.

**OS affected**:
- macOS
- win10

**Problems include**:
- stats not showing on main page; all 0, etc
- Network XML request error when opening up dev console
- if users switched to incognito mode on Chrome, they can now see the stats on the main page

**Partial S

[2020-12-27 02:57] PrimeroEechi opened #44 "No Zil rewards"
4 days ago I staked in three different pools.  After trying to determine why there are still no rewards showing for any of them, I noticed that there are 5 transactions to stake - all pending.  Should have only been 3 transactions, so now its trying to stake more Zilliqa than is available in my ZilPay.

[2020-12-30 18:29] kensilverman commented on #38
Yes, I have confirmed on Atomic wallet sine Dec 15th the same issue, the issue appears to be the same, when pressing claim button,  claim does not go through posting an error message.

[2020-12-30 18:30] kensilverman commented on #38
Further,  the staking balance is not increasing since about Dec 15th as well.

[2020-12-30 18:32] kensilverman opened #45 "Reward amount does not increase since Dec 15th and Claim does not work"
Reward amount does not increase and (as already reported) Claim does not work.  This could be part of the same error already reported about claims or two separate bugs.  Confirmed this is within the Ziliqa/Zillion stack, not a wallet issue.  Have not yet researched the API and comm. between Zillion app. and Ziliqa chain to determine if issue is with Zillion calls, Ziliqa contract code or other.

[2021-06-18 11:33] NemanjaSRB91 opened #46 "Zilliqa show no node"
When I enter Zillion, it shows that I have 0 nodes and no Zil staking. I have to refresh it at least 15 times, until it appears. What is wrong there?

[2021-09-08 01:21] julienwilliams opened #47 "Cannot Claim or Initiate Stake Withdrawal from Moonlet.io using ZilPay on Zillion"
Every time I try either Clain or Initiate Stake Withdrawal, I get a javascript error.

![image](https://user-images.githubusercontent.com/17300505/132430462-fd71d4fa-e2e3-456f-bf29-f3efa4dcdff4.png)

This issue has been there for weeks. Using Chrome but same behavior in Firefox.

[2021-09-29 15:17] aliderakhshani1 opened #48 "Staking reward claim"
Is there a way to collect reward from different staking pool all at once to pay less fees on Zilliqa staking website?